<td><%= date_select :week, :start_date %></td>
<% Week.roles.each_with_index do |role, i| %>
  <% role_assignment = f.object.assignments.find_or_initialize_by(role: role) %>
  <%= f.fields_for role_assignment, index: i, class: "form-control input-md-3"  do |assignment_fields| %>
    <td id="assignment">
    <%= assignment_fields.collection_select(:person_id, Person.with_role(assignment_fields.object.role), :id, :name, include_blank: true)%>
    </td>
    <%= assignment_fields.hidden_field(:role) %>
    <%= assignment_fields.hidden_field(:id) %>
  <% end %>
<% end %>
<td><div class="submit-button"><%= f.submit class: 'btn btn-success' %><div></td>
