<h1>Schedule</h1>

<%= form_for @week do |f| %>
<% if @week.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@week.errors.count, "error") %> prohibited this week from being saved:</h2>

    <ul>
    <% @week.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <table class="table table-bordered">
    <thead>
      <tr class="table-header">
        <th>Start Date</th>
        <% Week.roles.each do |role| %>
          <th><%= role.humanize %></th>
        <% end %>
        <th>Edit table</th>
      </tr>
    </thead>
    <tbody>
    <% @weeks.each do |week| %>
      <tr>
        <% if week != @week %>
          <td><%= week.start_date.to_s(:govuk_date_short) %></td>
            <% Week.roles.each do |role| %>
              <% assignment_to_display = week.assignments.select{|assignment| assignment.role == role}[0] %>
              <td class="<%= "assignment-missing" unless assignment_to_display.try(:person).try(:name) %>" >
                <%= assignment_to_display.try(:person).try(:name) %>
              </td>
            <% end %>
        <td>
          <%= link_to "Edit", edit_week_path(week) %>
          <%= link_to "Remove", week, method: :delete %>
        </td>
        <% else %>
          <%= render partial: 'form', locals: { f:f, week: week } %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
