<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Roles:</strong>
  <%= render 'roles', person: @person %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'List of people', people_path %> |
<%= link_to 'Add Person', new_person_path %> |
<%= link_to 'Home', weeks_path %>
