<p id="notice"><%= notice %></p>

<h1>Listing Roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td class="roles-table"><%= role.name %></td>
        <td class="roles-table"><%= status(role) %></td>
        <td class="roles-table"><%= link_to 'Edit', edit_role_path(role) %></td>
        <td class="roles-table"><%= link_to 'Delete', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_role_path %>
